.student-card{
    width: 120px;
    float: left;
    margin: 1vw;
    padding: 10px;
    height: 155px;
    border: 1px solid grey;
    background-color: lightgray;
}
.student-card {
    font-size: 12px;
}