.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.cr{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1%;
  width: 1%
}
  